body {
    width: 80%;
    margin: auto;
    background-image: url(GRID_TABLAZAT/kepek/hatter.jpg);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:"h h h"
    "nav article aside"
    "f f f" ;
}
header {
    background-image: url(GRID_TABLAZAT/kepek/fejlec.jpg);
    text-align: center;
    height: 150px;
    grid-area: h;
}
nav {
       grid-area: nav;
}
nav a{
    background-color: turquoise;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}
nav a:hover {
    background-color: rgb(40, 141, 131);
    transition: all 1s;
}
nav li {
    list-style-type: none;
    text-align: center;
    padding: 2px;
}
nav ul {
    padding: 0;
}
header, article, aside, nav, footer {
    background-color: white;
    
}
article {
    grid-area: article;
}
aside {
    grid-area: aside;
    border: 1px solid gray;
    padding: 20px;
}
footer {
    grid-area: f;
    text-align: center;
    background-color: turquoise;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 60%;
}
tr {
    border-bottom: 1px solid turquoise;
}
thead {
    background-color: lightblue;
}
tbody tr:nth-child(even) {
    background-color: lightblue;
} 
@media screen and (max-width: 700px){
    body {
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-areas:"h"
        "nav"
        "article"
        "aside"
        "f" ;
    }
}